<div class='text-center jumbotron bg-color title-color'>
  <h1>NeighborStat</h1>
  <p>Information about your neighborhood.</p>
  <div class="container">
    <div class="col-md-6 col-md-offset-3">
    <select class="navigation-select">
      <%= @neighborhoods.each do |neighborhood| %>
        <option value=<%= neighborhood_path(neighborhood)%>><%= neighborhood.name %></option>
      <% end %>
    </select>
    <%= form_tag neighborhood_index_path, method: :get do %>
      <input name='search' type='text' class='form-control input-lg' placeholder='Type Your Address...'/>
    <% end %>
    </div>
  </div>
  <br>
</div>
<div id='map' style='height:60%; width:100%;'></div>
<script>
L.mapbox.accessToken = 'pk.eyJ1IjoiemFjaGZsYW5kZXJzIiwiYSI6Im5PQWUydWMifQ.K3IgstPvVhP6ZDoXsKNzJQ';
var map = L.mapbox.map('map', 'mapbox.light')
  .setView([39, -98.5795], 4);
</script>
