<div class="tab-content">
  <div class="statistics-panel" id="statistics-table" ng-show="censusDataStatistics">
    <table class="statistics-table">
      <thead>
        <tr class="title-row">
          <th>
          </th>
          <th colspan="2">
            Total
          </th>
          <th>
            Change
          </th>
          <th colspan="2">
            % of Neighborhood
          </th>
          <th colspan="2">
            City Average
          </th>
        </tr>
        <tr class="sub-title-row">
          <th>
          </th>
          <th>
            2000
          </th>
          <th>
            2010
          </th>
          <th></th>
          <th>
            2000
          </th>
          <th>
            2010
          </th>
          <th>
            2000
          </th>
          <th>
            2010
          </th>
        </tr>
      </thead>
      <tbody class="expandable-row">
        <tr class="expandable-trigger">
          <th colspan="">
            <span class="btn btn-default glyphicon glyphicon-plus"></span>
            <strong>Population</strong>
          </th>
          <td>
            {{censusDataStatistics['2000'].population}}
          </td>
          <td>
            {{censusDataStatistics['2010'].population}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].population / censusDataStatistics['2000'].population) - 100 | number: 2}}%
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td>
          </td>
        </tr>
        <tr>
          <th><strong>Gender</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Male</th>
          <td>
            {{censusDataStatistics['2000'].male | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].male | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].male / censusDataStatistics['2000'].male ) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].male / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].male / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].male / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].male / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Female</th>
          <td>
            {{censusDataStatistics['2000'].female | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].female | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].female / censusDataStatistics['2000'].female ) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].female / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].female / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].female / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].female / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th><strong>Age</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>School Age (5-19)</th>
          <td>
            {{censusDataStatistics['2000'].school_age | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].school_age | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].school_age / censusDataStatistics['2000'].school_age ) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].school_age / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].school_age / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].school_age / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].school_age / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Older Adults</th>
          <td>
            {{censusDataStatistics['2000'].elderly | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].elderly | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].elderly / censusDataStatistics['2000'].elderly ) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].elderly / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].elderly / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].elderly / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].elderly / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th><strong>Race</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>White</th>
          <td>
            {{censusDataStatistics['2000'].white | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].white | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].white / censusDataStatistics['2000'].white) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].white / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].white / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].white / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].white / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Black</th>
          <td>
            {{censusDataStatistics['2000'].black | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].black | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].black / censusDataStatistics['2000'].black ) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].black / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].black / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].black / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].black / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Native American Asian/Pacific Islander</th>
          <td>
            {{censusDataStatistics['2000'].native_american | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].native_american | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].native_american / censusDataStatistics['2000'].native_american) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].native_american / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].native_american / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].native_american / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].native_american / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Other race</th>
          <td>
            {{censusDataStatistics['2000'].other_race | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].other_race | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].other_race / censusDataStatistics['2000'].other_race) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].other_race / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].other_race / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].other_race / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].other_race / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Multiracial</th>
          <td>
            {{censusDataStatistics['2000'].multiracial | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].multiracial | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].multiracial / censusDataStatistics['2000'].multiracial) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].multiracial / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].multiracial / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].multiracial / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].multiracial / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>All Hispanic</th>
          <td>
            {{censusDataStatistics['2000'].hispanic | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].hispanic | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].hispanic / censusDataStatistics['2000'].hispanic) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].hispanic / censusDataStatistics['2000'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].hispanic / censusDataStatistics['2010'].population) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].hispanic / censusDataStatistics.total_city_population['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].hispanic / censusDataStatistics.total_city_population['2010']) | number: 2}}%
          </td>
        </tr>
      </tbody>
      <tbody class="expandable-row">
        <tr class="expandable-trigger">
          <th colspan="">
            <span class="btn btn-default glyphicon glyphicon-plus"></span>
            <strong>Housing</strong>
          </th>
          <td>
            {{censusDataStatistics['2000'].housing_units | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].housing_units | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units / censusDataStatistics['2000'].housing_units) - 100 | number: 2}}%
          </td> 
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><strong>Occupancy</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Owner Occupied</th>
          <td>
            {{censusDataStatistics['2000'].owner_occupied_housing_units | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].owner_occupied_housing_units | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].owner_occupied_housing_units / censusDataStatistics['2000'].owner_occupied_housing_units) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].owner_occupied_housing_units / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].owner_occupied_housing_units / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].owner_occupied_housing_units / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].owner_occupied_housing_units / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Renter Occupied</th>
          <td>
            {{censusDataStatistics['2000'].renter_occupied_housing_units | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].renter_occupied_housing_units | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].renter_occupied_housing_units / censusDataStatistics['2000'].renter_occupied_housing_units) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].renter_occupied_housing_units / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].renter_occupied_housing_units / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].renter_occupied_housing_units / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].renter_occupied_housing_units / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th><strong>Vacancy</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Total Vacant</th>
          <td>
            {{censusDataStatistics['2000'].vacant_housing_units | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].vacant_housing_units | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].vacant_housing_units / censusDataStatistics['2000'].vacant_housing_units) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].vacant_housing_units / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].vacant_housing_units / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].vacant_housing_units / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].vacant_housing_units / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Vacant: Not for sale or rent</th>
          <td>
            {{censusDataStatistics['2000'].vacant_other | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010'].vacant_other | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].vacant_other / censusDataStatistics['2000'].vacant_other) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000'].vacant_other / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'].vacant_other / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000'].vacant_other / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010'].vacant_other / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th><strong>Housing units moved into during previous 5 years</strong></th>
          <td>{{censusDataStatistics['2000'].housing_units_moved_into_during_previous_5_years | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].housing_units_moved_into_during_previous_5_years | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units_moved_into_during_previous_5_years / censusDataStatistics['2000'].housing_units_moved_into_during_previous_5_years) - 100 | number: 2}}%
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><strong>Household Size</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>1-Person Households</th>
          <td>
            {{censusDataStatistics['2000']['1_person_households'] | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010']['1_person_households'] | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['1_person_households'] / censusDataStatistics['2000']['1_person_households']) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000']['1_person_households'] / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['1_person_households'] / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000']['1_person_households'] / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010']['1_person_households'] / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>2-Person Households</th>
          <td>
            {{censusDataStatistics['2000']['2_person_households'] | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010']['2_person_households'] | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['2_person_households'] / censusDataStatistics['2000']['2_person_households']) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000']['2_person_households'] / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['2_person_households'] / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000']['2_person_households'] / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010']['2_person_households'] / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>3-Person Households</th>
          <td>
            {{censusDataStatistics['2000']['3_person_households'] | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010']['3_person_households'] | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['3_person_households'] / censusDataStatistics['2000']['3_person_households']) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000']['3_person_households'] / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['3_person_households'] / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000']['3_person_households'] / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010']['3_person_households'] / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>4-Person Households</th>
          <td>
            {{censusDataStatistics['2000']['4_person_households'] | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010']['4_person_households'] | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['4_person_households'] / censusDataStatistics['2000']['4_person_households']) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000']['4_person_households'] / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['4_person_households'] / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000']['4_person_households'] / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010']['4_person_households'] / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>5-Person Households</th>
          <td>
            {{censusDataStatistics['2000']['5_person_households'] | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010']['5_person_households'] | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['5_person_households'] / censusDataStatistics['2000']['5_person_households']) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000']['5_person_households'] / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['5_person_households'] / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000']['5_person_households'] / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010']['5_person_households'] / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>6-Person Households</th>
          <td>
            {{censusDataStatistics['2000']['6_person_households'] | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010']['6_person_households'] | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['6_person_households'] / censusDataStatistics['2000']['6_person_households']) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000']['6_person_households'] / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['6_person_households'] / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000']['6_person_households'] / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010']['6_person_households'] / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th>7 Or More-Person Households</th>
          <td>
            {{censusDataStatistics['2000']['7_or_more_person_households'] | number: 0}}
          </td>
          <td>
            {{censusDataStatistics['2010']['7_or_more_person_households'] | number: 0}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['6_person_households'] / censusDataStatistics['2000']['6_person_households']) - 100 | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2000']['7_or_more_person_households'] / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics['2010']['7_or_more_person_households'] / censusDataStatistics['2010'].housing_units) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2000']['7_or_more_person_households'] / censusDataStatistics.total_housing_units['2000']) | number: 2}}%
          </td>
          <td>
            {{(100 * averageCensusStatistics['2010']['7_or_more_person_households'] / censusDataStatistics.total_housing_units['2010']) | number: 2}}%
          </td>
        </tr>
        <tr>
          <th><strong>Household Type</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Married Couple Households with Own Children</th>
          <td>{{censusDataStatistics['2000'].married_couple_households_with_own_children_present | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].married_couple_households_with_own_children_present | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].married_couple_households_with_own_children_present / censusDataStatistics['2000'].married_couple_households_with_own_children_present) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].married_couple_households_with_own_children_present / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].married_couple_households_with_own_children_present / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].married_couple_households_with_own_children_present / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].married_couple_households_with_own_children_present / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Married Couple without Own Children</th>
          <td>{{censusDataStatistics['2000'].married_couple_households_without_own_children_present | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].married_couple_households_without_own_children_present | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].married_couple_households_without_own_children_present / censusDataStatistics['2000'].married_couple_households_without_own_children_present) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].married_couple_households_without_own_children_present / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].married_couple_households_without_own_children_present / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].married_couple_households_without_own_children_present / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].married_couple_households_without_own_children_present / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Female Householders Households, no Husband Present, with Own Children</th>
          <td>{{censusDataStatistics['2000'].female_householder_households__no_husband_present__with_own_children_present | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].female_householder_households__no_husband_present__with_own_children_present | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].female_householder_households__no_husband_present__with_own_children_present / censusDataStatistics['2000'].female_householder_households__no_husband_present__with_own_children_present) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].female_householder_households__no_husband_present__with_own_children_present / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].female_householder_households__no_husband_present__with_own_children_present / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].female_householder_households__no_husband_present__with_own_children_present / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].female_householder_households__no_husband_present__with_own_children_present / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Female Householders Households, no Husband Present, without Own Children</th>
          <td>{{censusDataStatistics['2000'].female_householder_households__no_husband_present__without_own_children_present | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].female_householder_households__no_husband_present__without_own_children_present | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].female_householder_households__no_husband_present__without_own_children_present / censusDataStatistics['2000'].female_householder_households__no_husband_present__without_own_children_present) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].female_householder_households__no_husband_present__without_own_children_present / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].female_householder_households__no_husband_present__without_own_children_present / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].female_householder_households__no_husband_present__without_own_children_present / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].female_householder_households__no_husband_present__without_own_children_present / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Non Family Households</th>
          <td>{{censusDataStatistics['2000'].non_family_households | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].non_family_households | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].non_family_households / censusDataStatistics['2000'].non_family_households) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].non_family_households / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].non_family_households / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].non_family_households / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].non_family_households / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Overcrowding Housing Units</th>
          <td>{{censusDataStatistics['2000'].overcrowded_housing_units | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].overcrowded_housing_units | number: 0}}
          </td>
          <td>{{(100 * censusDataStatistics['2010'].overcrowded_housing_units / censusDataStatistics['2000'].overcrowded_housing_units) - 100 | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].overcrowded_housing_units / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].overcrowded_housing_units / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].overcrowded_housing_units / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
          <td>
            {{(100 * censusDataStatistics['2010'].overcrowded_housing_units / censusDataStatistics['2000'].overcrowded_housing_units) - 100 | number: 2}}%
          </td>
        </tr>
        <tr>
          <th><strong>Housing Costs</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Mean Rents</th>
          <td>{{censusDataStatistics['2000'].aggregate_rent_spent_by_all_renter_housing_units | number: 2}}</td>
          <td>{{censusDataStatistics['2010'].aggregate_rent_spent_by_all_renter_housing_units | number: 2}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].aggregate_rent_spent_by_all_renter_housing_units / censusDataStatistics['2000'].aggregate_rent_spent_by_all_renter_housing_units) - 100 | number: 2}}%
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><strong>Housing Year Built</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Housing Units Built Before 1940</th>
          <td>{{censusDataStatistics['2000'].housing_units_built_before_1940 | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].housing_units_built_before_1940 | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units_built_before_1940 / censusDataStatistics['2000'].housing_units_built_before_1940) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].housing_units_built_before_1940 / censusDataStatistics['2000'].housing_units) | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2010'].housing_units_built_before_1940 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].housing_units_built_before_1940 / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_before_1940 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Housing Units Built 1940-1949</th>
          <td>{{censusDataStatistics['2000'].housing_units_built_1940_1949 | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].housing_units_built_1940_1949 | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units_built_1940_1949 / censusDataStatistics['2000'].housing_units_built_1940_1949) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].housing_units_built_1940_1949 / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].housing_units_built_1940_1949 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_1940_1949 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_1940_1949 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Housing Units Built 1950-1959</th>
          <td>{{censusDataStatistics['2000'].housing_units_built_1950_1959 | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].housing_units_built_1950_1959 | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units_built_1950_1959 / censusDataStatistics['2000'].housing_units_built_1950_1959) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].housing_units_built_1950_1959 / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].housing_units_built_1950_1959 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].housing_units_built_1950_1959 / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_1950_1959 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Housing Units Built 1960-1969</th>
          <td>{{censusDataStatistics['2000'].housing_units_built_1960_1969 | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].housing_units_built_1960_1969 | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units_built_1960_1969 / censusDataStatistics['2000'].housing_units_built_1960_1969) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].housing_units_built_1960_1969 / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].housing_units_built_1960_1969 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].housing_units_built_1960_1969 / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_1960_1969 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Housing Units Built 1970-1979</th>
          <td>{{censusDataStatistics['2000'].housing_units_built_1970_1979 | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].housing_units_built_1970_1979 | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units_built_1970_1979 / censusDataStatistics['2000'].housing_units_built_1970_1979) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].housing_units_built_1970_1979 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].housing_units_built_1970_1979 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2000'].housing_units_built_1970_1979 / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_1970_1979 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Housing Units Built 1980-1989</th>
          <td>{{censusDataStatistics['2000'].housing_units_built_1980_1989 | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].housing_units_built_1980_1989 | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units_built_1980_1989 / censusDataStatistics['2000'].housing_units_built_1980_1989) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].housing_units_built_1980_1989 / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].housing_units_built_1980_1989 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].housing_units_built_1980_1989 / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_1980_1989 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Housing Units Built 1990-1999</th>
          <td>{{censusDataStatistics['2000'].housing_units_built_1990_1999 | number: 0}}</td>
          <td>{{censusDataStatistics['2010'].housing_units_built_1990_1999 | number: 0}}</td>
          <td>
            {{(100 * censusDataStatistics['2010'].housing_units_built_1990_1999 / censusDataStatistics['2000'].housing_units_built_1990_1999) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'].housing_units_built_1990_1999 / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'].housing_units_built_1990_1999 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'].housing_units_built_1990_1999 / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_1990_1999 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
        <tr>
          <th>Housing Units Built 2000-2009</th>
          <td></td>
          <td>{{censusDataStatistics['2010'].housing_units_built_2000_2009 | number: 0}}</td>
          <td></td>
          <td>{{(100 * censusDataStatistics['2010'].housing_units_built_2000_2009 / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td></td>
          <td>{{(100 * averageCensusStatistics['2010'].housing_units_built_2000_2009 / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
          <td></td>
        </tr>
      </tbody>
      <tbody class="expandable-row">
        <tr class="expandable-trigger">
          <th colspan="">
            <span class="btn btn-default glyphicon glyphicon-plus"></span>
            <strong>Employment/Income</strong>
          </th>
          <td></td>
          <td></td>
          <td></td> 
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th><strong>Employment</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <th>Population in Labor Force and Employed</th>
          <td>
            {{censusDataStatistics.working_force_data['2000'].employed | number: 2}}
          </td>
          <td>
            {{censusDataStatistics.working_force_data['2010'].employed | number: 2}}
          </td>
          <td>
            {{100 * (censusDataStatistics.working_force_data['2010'].employed / censusDataStatistics['working_force_data']['2000']['employed']) - 100 | number: 2}}%
          </td>
          <td>
            {{100 * censusDataStatistics.working_force_data['2000'].employed / censusDataStatistics['working_force_data']['2000']['total'] | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics.working_force_data['2010'].employed / censusDataStatistics['working_force_data']['2010']['total']) | number: 2}}%
          </td>
          <td>
            {{100 * (averageCensusStatistics['2000'].work_force_totals.employed / averageCensusStatistics['2000'].work_force_totals.total)| number: 2}}%
          </td>
          <td>
            {{100 * (averageCensusStatistics['2010'].work_force_totals.employed / averageCensusStatistics['2010'].work_force_totals.total)| number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Population in Labor Force But Unemployed</th>
          <td>
            {{censusDataStatistics.working_force_data['2000'].unemployed | number: 2}}
          </td>
          <td>
            {{censusDataStatistics.working_force_data['2010'].unemployed | number: 2}}
          </td>
          <td>
            {{100 * (censusDataStatistics.working_force_data['2010'].unemployed / censusDataStatistics['working_force_data']['2000'].unemployed) - 100 | number: 2}}%
          </td>
          <td>
            {{100 * censusDataStatistics.working_force_data['2000'].unemployed / censusDataStatistics['working_force_data']['2000']['total'] | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics.working_force_data['2010'].unemployed / censusDataStatistics['working_force_data']['2010']['total']) | number: 2}}%
          </td>
          <td>
            {{100 * (averageCensusStatistics['2000'].work_force_totals.unemployed / averageCensusStatistics['2000'].work_force_totals.total)| number: 2}}%
          </td>
          <td>
            {{100 * (averageCensusStatistics['2010'].work_force_totals.unemployed / averageCensusStatistics['2010'].work_force_totals.total)| number: 2}}%
          </td>
        </tr>
        <tr>
          <th>Population Not in Workforce</th>
          <td>
            {{censusDataStatistics.working_force_data['2000'].not_in_workforce | number: 2}}
          </td>
          <td>
            {{censusDataStatistics.working_force_data['2010'].not_in_workforce | number: 2}}
          </td>
          <td>
            {{100 * (censusDataStatistics.working_force_data['2010'].not_in_workforce / censusDataStatistics['working_force_data']['2000'].not_in_workforce) - 100 | number: 2}}%
          </td>
          <td>
            {{100 * censusDataStatistics.working_force_data['2000'].not_in_workforce / censusDataStatistics['working_force_data']['2000']['total'] | number: 2}}%
          </td>
          <td>
            {{(100 * censusDataStatistics.working_force_data['2010'].not_in_workforce / censusDataStatistics['working_force_data']['2010']['total']) | number: 2}}%
          </td>
          <td>
            {{100 * (averageCensusStatistics['2000'].work_force_totals.not_in_workforce / averageCensusStatistics['2000'].work_force_totals.total)| number: 2}}%
          </td>
          <td>
            {{100 * (averageCensusStatistics['2010'].work_force_totals.not_in_workforce / averageCensusStatistics['2010'].work_force_totals.total)| number: 2}}%
          </td>
        </tr>
        <tr>
          <th><strong>Househole Income</strong></th>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr ng-repeat="n in housingIncomeKeys track by $index">
          <th>{{n.title}}</th>
          <td>
            {{censusDataStatistics['2000'][n.key] | number: 2}}
          </td>
          <td>
            {{censusDataStatistics['2010'][n.key] | number: 2}}
          </td>
          <td>
            {{(100 * censusDataStatistics['2010'][n.key] / censusDataStatistics['2000'][n.key]) - 100 | number: 2}}%
          </td>
          <td>{{(100 * censusDataStatistics['2000'][n.key] / censusDataStatistics['2000'].housing_units) | number: 2}}%</td>
          <td>{{(100 * censusDataStatistics['2010'][n.key] / censusDataStatistics['2010'].housing_units) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2000'][n.key] / censusDataStatistics.total_housing_units['2000']) | number: 2}}%</td>
          <td>{{(100 * averageCensusStatistics['2010'][n.key] / censusDataStatistics.total_housing_units['2010']) | number: 2}}%</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
