<div class="tab-content">
  <div class="statistics-panel" id="statistics-table" >
    <table class="statistics-table">
      <!-- <thead>
        <tr class="title-row">
          <th>
          </th>
          <th colspan="4">
            Annual
          </th>
        </tr>
        <tr class="sub-title-row">
          <th>
          </th>
          <th>
            Total Incidents this Year
          </th>
        </tr>
      </thead> -->
      <tbody class="expandable-row">
        <tr class="expandable-trigger">
          <th colspan="2">
            <span class="btn btn-default glyphicon glyphicon-plus"></span>
            <strong>Person</strong>
          </th>
        </tr>
        <tr>
          <th>
            Gender
          </th>
          <td>
          </td>
        </tr>
        <tr>
          <th>
            Male
          </th>
          <td>
            3
          </td>
        </tr>
        <tr>
          <th>
            Female
          </th>
          <td>
            43
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
