<nav class="navbar navbar-default sub-data-nav">
  <ul id="neighborhood-sub-tabs" class="navbar-nav nav" role="tablist">
    <li role="presentation" class="active">
      <a aria-controls="statistics-table" role="tab" data-toggle="tab" data-target="#neighborhood-map">Map</a>
    </li>
    <li role="presentation">
      <a aria-controls="neighborhood-map" role="tab" data-toggle="tab" data-target="#statistics-table">Report</a>
    </li>
  </ul>
</nav>
<div class="content-display">
  <div class="toolbar">
    <form>
      <div class="btn-group">
        <a href='#'class: 'btn btn-default'>
          <span class="fa fa fa-map-marker"></span>
        </a>
        <a>
          <span class="fa fa fa-fire"></span>
        </a>
      </div>
    </form>
  </div>
  <div class="tab-content">
    <div class="statistics-panel tab-pane" role="tabpanel" class="tab-pane" id="statistics-table">
      <table class="statistics-table">
        <thead>
          <tr class="title-row">
            <th>
            </th>
            <th colspan="4">
              Annual
            </th>
          </tr>
          <tr class="sub-title-row">
            <th>
            </th>
            <th>
              Total Incidents this Year
            </th>
            <th>
              Neighborhood per 100 people
            </th>
            <th>
              City per 100 people
            </th>
            <th>
            </th>
          </tr>
        </thead>
        <tbody class="expandable-row">
          <tr class="expandable-trigger">
            <th>
              <span class="glyphicon glyphicon-plus"></span>
              Person
            </th>
            <td>
              21
            </td>
            <td>
              13
            </td>
            <td>
              18
            </td>
            <td>
              -5%
            </td>
          </tr>
          <tr>
            <th>
              Assault
            </th>
            <td>
              18
            </td>
            <td>
              9
            </td>
            <td>
              11.7
            </td>
            <td>
              +2.7%
            </td>
          </tr>
          <tr>
            <th>
              Homicide
            </th>
            <td>
              1
            </td>
            <td>
              0.5
            </td>
            <td>
              1.7
            </td>
            <td>
              -1.1%
            </td>
          </tr>
          <tr>
            <th>
              Sex Offenses, Forcible
            </th>
            <td>
              4
            </td>
            <td>
              2
            </td>
            <td>
              4.2
            </td>
            <td>
              -2.2%
            </td>
          </tr>
        </tbody>
        <tbody class="expandable-row">
          <tr class="expandable-trigger">
            <th>
              <span class="glyphicon glyphicon-plus"></span>
              Person
            </th>
            <td>
              21
            </td>
            <td>
              13
            </td>
            <td>
              18
            </td>
            <td>
              -5%
            </td>
          </tr>
          <tr>
            <th>
              Assault
            </th>
            <td>
              18
            </td>
            <td>
              9
            </td>
            <td>
              11.7
            </td>
            <td>
              +2.7%
            </td>
          </tr>
          <tr>
            <th>
              Homicide
            </th>
            <td>
              1
            </td>
            <td>
              0.5
            </td>
            <td>
              1.7
            </td>
            <td>
              -1.1%
            </td>
          </tr>
          <tr>
            <th>
              Sex Offenses, Forcible
            </th>
            <td>
              4
            </td>
            <td>
              2
            </td>
            <td>
              4.2
            </td>
            <td>
              -2.2%
            </td>
          </tr>
        </tbody>
        <tbody class="expandable-row">
          <tr class="expandable-trigger">
            <th>
              <span class="glyphicon glyphicon-plus"></span>
              Person
            </th>
            <td>
              21
            </td>
            <td>
              13
            </td>
            <td>
              18
            </td>
            <td>
              -5%
            </td>
          </tr>
          <tr>
            <th>
              Assault
            </th>
            <td>
              18
            </td>
            <td>
              9
            </td>
            <td>
              11.7
            </td>
            <td>
              +2.7%
            </td>
          </tr>
          <tr>
            <th>
              Homicide
            </th>
            <td>
              1
            </td>
            <td>
              0.5
            </td>
            <td>
              1.7
            </td>
            <td>
              -1.1%
            </td>
          </tr>
          <tr>
            <th>
              Sex Offenses, Forcible
            </th>
            <td>
              4
            </td>
            <td>
              2
            </td>
            <td>
              4.2
            </td>
            <td>
              -2.2%
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane active" id='neighborhood-map'></div>
  </div>
</div>
