<nav class="navbar navbar-default sub-data-nav">
  <ul id="neighborhood-sub-tabs" class="navbar-nav nav" role="tablist">
    <li role="presentation" class="active">
      <a aria-controls="statistics-table" role="tab" data-toggle="tab" data-target="#neighborhood-map">Map</a>
    </li>
    <li role="presentation">
      <a aria-controls="neighborhood-map" role="tab" data-toggle="tab" data-target="#statistics-table">Report</a>
    </li>
  </ul>
</nav>
<div class="content-display">
  <div class="toolbar">
    <form class="form-inline">
      <div class="form-group">
        <input type="date" class="form-control" />
        <label>Start Date</label>
      </div>
      <div class="form-group">
        <input type="date" class="form-control" />
        <label>End Date</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <a class= 'btn btn-default'>
            <span class="fa fa fa-map-marker"></span>
          </a>
          <a class= 'btn btn-default'>
            <span class="fa fa fa-fire"></span>
          </a>
        </div>
        <label>Display</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <a class= 'btn btn-default'>
            Frequency
          </a>
          <a class= 'btn btn-default'>
            Severity
          </a>
          <a class= 'btn btn-default'>
            Type
          </a>
        </div>
        <label>Data Type</label>
      </div>
      <div class="form-group">
        <input type="radio" name="sex_offender" class="form-control" value="show"> Show
        <input type="radio" value="sex_offender" class="form-control" value="hide"> Hide
        <label>Sex Offender</label>
      </div>
      <button class="btn btn btn-success pull-right" type="button" ng-click="activateFilters = !activateFilters">
        Filters
      </button>
    </form>
    <div ng-show="activateFilters" class="map-filters">
      <div class="col-md-2">
        <h2>Person</h2>
        <label>
          <input type="checkbox" ng-model="crime.ALL_PEOPLE" />
          All
        </label>
        <label>
          <input type="checkbox" ng-model="crime.ASSAULT" />
          Assault
        </label>
        <label>
          <input type="checkbox" ng-model="crime.HOMICIDE" />
          Homicide
        </label>
        <label>
          <input type="checkbox" ng-model="crime.SEX_OFFENSE_FORCIBLE" />
          Sex Offense, Forcible
        </label>
        <label>
          <input type="checkbox" ng-model="crime.SEX_OFFENSE_NON_FORCIBLE" />
          Sex Offense, Non Forcible
        </label>
      </div>
      <div class="col-md-5">
        <h2>Property</h2>
        <div class="row">
          <div class="col-md-6">
            <label>
              <input type="checkbox" ng-model="crime.ALL_PROPERY" />
              All
            </label>
            <label>
              <input type="checkbox" ng-model="crime.ARSON" />
              Arson
            </label>
            <label>
              <input type="checkbox" ng-model="crime.BURGLARY" />
              Burglary
            </label>
            <label>
              <input type="checkbox" ng-model="crime.CONTERFEITING" />
              Counterfeiting
            </label>
            <label>
              <input type="checkbox" ng-model="crime.EMBEZZLEMENT" />
              Embezzlement
            </label>
            <label>
              <input type="checkbox" ng-model="crime.EXTORTION" />
              Extortion
            </label>
          </div>
          <div class="col-md-6">
            <label>
              <input type="checkbox" ng-model="crime.FRAUD" />
              Fraud
            </label>
            <label>
              <input type="checkbox" ng-model="crime.MOTOR_VEHICLE_THEFT" />
              Motor Vehicle Theft
            </label>
            <label>
              <input type="checkbox" ng-model="crime.ROBBERY" />
              Robbery
            </label>
            <label>
              <input type="checkbox" ng-model="crime.STOLEN_PROPERTY" />
              Stolen Property
            </label>
            <label>
              <input type="checkbox" ng-model="crime.THEFT" />
              Theft
            </label>
            <label>
              <input type="checkbox" ng-model="crime.VANDALISM" />
              Vandalism
            </label>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <h2>Society</h2>
        <div class="row">
          <div class="col-md-6">
            <label>
              <input type="checkbox" ng-model="crime.ALL_SOCIETY" />
              All
            </label>
            <label>
              <input type="checkbox" ng-model="crime.BAD_CHECKS" />
              Bad Checks
            </label>
            <label>
              <input type="checkbox" ng-model="crime.CURFEW" />
              Curfew & Loitering
            </label>
            <label>
              <input type="checkbox" ng-model="crime.DISORDERLY_CONDUCT" />
              Disorderly Conduct
            </label>
            <label>
              <input type="checkbox" ng-model="crime.DUE" />
              DUI
            </label>
            <label>
              <input type="checkbox" ng-model="crime.DRUNKNESS" />
              Drunkenness
            </label>
            <label>
              <input type="checkbox" ng-model="crime.DOMESTIC_VIOLENCE" />
              Domestic Nonviolent
            </label>
          </div>
          <div class="col-md-6">
            <label>
              <input type="checkbox" ng-model="crime.GAMBLING" />
              Gambling
            </label>
            <label>
              <input type="checkbox" ng-model="crime.PORNOGRAPHY"/>
              Pornography
            </label>
            <label>
              <input type="checkbox" ng-model="crime.LIQUOR_LAW_VIOLATION"/>
              Liquor Law Violation
            </label>
            <label>
              <input type="checkbox" ng-model="crime.STOLEN_PROPERTY"/>
              Stolen Property
            </label>
            <label>
              <input type="checkbox" ng-model="crime.TRESPASSING"/>
              Trespassing
            </label>
          </div>
        </div>
      </div>
      <div>
        <div class="map-filter-actions pull-right">
          <button class="btn btn-primary">Reset</button>
          <button class="btn btn-primary" ng-click="getCrimeByCodes(crime)">Done</button>
        </div>
      </div>
    </div>
  </div>
  <div class="tab-content">
    <div class="statistics-panel tab-pane" role="tabpanel" class="tab-pane" id="statistics-table" ng-show="crimeStatistics">
      <table class="statistics-table">
        <thead>
          <tr class="title-row">
            <th>
            </th>
            <th colspan="4">
              Annual
            </th>
          </tr>
          <tr class="sub-title-row">
            <th>
            </th>
            <th>
              Total Incidents this Year
            </th>
          </tr>
        </thead>
        <tbody class="expandable-row">
          <tr class="expandable-trigger">
            <th>
              <span class="glyphicon glyphicon-plus"></span>
              <span>
                <h4>Crimes Against</h4>
                Person
              </span>
            </th>
            <td>
              {{calculateCategoryTotals('PERSON')}}
            </td>
          </tr>
          <tr>
            <th>
              Assault
            </th>
            <td>
              {{crimeStatistics.PERSON.ASSAULT_AGGRAVATED + crimeStatistics.PERSON.ASSAULT_SIMPLE + crimeStatistics.PERSON.ASSAULT_INTIMIDATION}}
            </td>
          </tr>
          <tr>
            <th>
              Homicide
            </th>
            <td>
              {{crimeStatistics.PERSON.HOMICIDE_NONNEGLIGENT_MANSLAUGHTER + crimeStatistics.PERSON.HOMICIDE_NEGLIGENT_MANSLAUGHTER}}
            </td>
          </tr>
          <tr>
            <th>
              Sex Offenses, Forcible
            </th>
            <td>
              {{crimeStatistics.PERSON.SEX_OFFENSE_RAPE + crimeStatistics.PERSON.SEX_OFFENSE_SODOMY + crimeStatistics.PERSON.SEX_OFFENSE_ASSAULT_WITH_OBJECT + crimeStatistics.PERSON.SEX_OFFENSE_NONFORCIBLE_STATUATORY_RAPE}}
            </td>
          </tr>
          <tr>
            <th>
              Sex Offenses, Non-Forcible
            </th>
            <td>
              {{crimeStatistics.PERSON.SEX_OFFENSE_NONFORCIBLE_INCEST + crimeStatistics.PERSON.SEX_OFFENSE_NONFORCIBLE_STATUATORY_RAPE}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="tab-pane active" id='neighborhood-map'></div>
  </div>
</div>
