<nav class="navbar navbar-default" style='border-bottom:0px;'>
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><span class="logo-prefix">KC</span>NeighborhoodStat</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">About</a></li>
      <li><a href="#">Our Data</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <form class="neighborhood-search form-stacked" role: 'search' ng-submit="neighborhoodSearch(search)">
    <h2>Search my Kansas City Neighborhood</h2>
    <input name='search' type='text' class='form-control' placeholder='Enter neighborhood name' ng-model="search.query"/>
    <p class="has-lined-sides">Or</p>
    <input name='search' type='text' class='form-control' placeholder='Enter address'/>
  </form>
</div>
<footer class="site-information-footer">
  <p>This is your footer in the absolute position.</p>
</footer>
