<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#primary-nav" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand"><span class="logo-prefix">KC</span>NeighborhoodStat</a>
    </div>
    <nav id="primary-nav" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">About</a></li>
        <li><a href="#">Our Data</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </div>
</nav>
<div ng-if="neighborhood" class="container">
  <form class="neighborhood-search" role: 'search' ng-submit="neighborhoodSearch(search)">
    <div class="chosen-neighborhood">
      <h1>{{neighborhood.name}}</h1>
    </div>
    <flash-message duration="5000"></flash-message>
    <h2>Search for another Kansas City Neighborhood</h2>
    <select neighborhood-search></select>
    <p class="has-lined-sides">Or</p>
    <input name='search_address' type='text' class='form-control' placeholder='Enter Address' ng-model="search.queryAddress"/>

    <input type="submit" class="form-control btn btn-success" value="Search"/>
    <p ng-show="searchingNeighborhood">
      <span class="glyphicon glyphicon-refresh spin"></span>
    </p>
  </form>
  <div class="neighborhood-content">
    <ul class="nav nav-tabs neighborhood-nav">
      <li role="presentation"><a ui-sref=".crime" ui-sref-active="active">Crime</a></li>
      <li><a ui-sref=".vacancies" ui-sref-active="active">Vacancies</a></li>
      <li><a ui-sref=".census_data" ui-sref-active="active">Demographics</a></li>
      <!--
        TODO: Add these tabs back in later
        <li><a href="#">Development</a></li>
        <li><a href="#">Housing</a></li>
      -->
    </ul>
    <div ui-view></div>
  </div>
</div>
<footer class="site-information-footer">
</footer>
