<div class="toolbar">
  <form class="form-inline" ng-submit="filterCrimes(crimeFilters)">
    <div class="form-group">
      <input type="date" name="start_date" class="form-control" ng-model="crimeFilters.startDate"/>
      <label>Start Date</label>
    </div>
    <div class="form-group">
      <input type="date" name="end_date" class="form-control" ng-model="crimeFilters.endDate" />
      <label>End Date</label>
    </div>
    <button class="btn btn btn-success pull-right" type="button" ng-click="activateFilters = !activateFilters">
      Filters
    </button>
    <div ng-show="activateFilters" class="map-filters">
      <div class="col-md-6">
        <h2>Legally Abandoned</h2>
      </div>
      <div class="col-md-6">
        <h2>Vacant Indicators</h2>
      </div>
    </div>
  </form>
</div>
<div neighborhood-map></div>
