<nav class="navbar navbar-default sub-data-nav">
  <ul id="neighborhood-sub-tabs" class="navbar-nav nav" role="tablist">
    <li role="presentation" class="active">
      <a aria-controls="statistics-table" role="tab" data-toggle="tab" data-target="#neighborhood-map">Map</a>
    </li>
    <li role="presentation">
      <a aria-controls="neighborhood-map" role="tab" data-toggle="tab" data-target="#statistics-table">Report</a>
    </li>
  </ul>
</nav>
<div class="content-display">
  <div class="toolbar">
    <form class="form-inline">
      <div class="form-group">
        <input type="date" class="form-control" />
        <label>Start Date</label>
      </div>
      <div class="form-group">
        <input type="date" class="form-control" />
        <label>End Date</label>
      </div>
      <div class="form-group">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Legally Abandoned</button>
          <button type="button" class="btn btn-default">Vacancy</button>
        </div>
        <label>&nbsp;</label>
      </div>
    </form>
  </div>
  <div neighborhood-map></div>
</div>
