.navbar-brand {
  font-size: 2em;
}

.neighborhood-title {
  margin-top: 15px;
  float: right;
  font-size: small;

  @media (max-width: $screen-md-min) {
    float: none;
    font-size: 2em;
  }
}

.neighborhood-nav {
  border-color: #456972;

  li {
    > a {
      color: #456972;
      margin-right: 0;
      background-color: #C1DBE1;
      border-color: #BCC5CB;
      border-bottom-color: #456972;

      &:hover {
        background-color: #C1DBE1;
        color: #000;
        border-color: #BCC5CB;
        border-bottom-color: #456972;
      }

      &.active {
        font-weight: bolder;
        background-color: #A6CDD4;
        border-color: #456972;
        border-bottom-color: #A6CDD4;

        &:hover {
          background-color: #A6CDD4;
          border-color: #456972;
          border-bottom-color: #A6CDD4;
          cursor: pointer;
        }
      }
    }
  }
}

.sub-data-nav {
  border-radius: 0;
  background-color: #A6CDD4;
  border: none;
  border-bottom: #456972 solid 3px;
  margin-bottom: 0;

  .navbar-nav {
    border: none;

    margin: 0;
    a {
      color: #456972;
    }

    .active a {
      font-weight: bolder;
      background-color: #A6CDD4;

      &:hover {
        background-color: #A6CDD4;
      }
    }
  }
}

.toolbar {
  background-color: #ddd;
  padding: 10px;
  position: relative;
}

.content-display {
  @extend .clearfix;
  background-color: #F7F8FA;
}

#neighborhood-map {
  min-height: 400px;
}

.statistics-panel {
  padding: 10px;
}

.map-filters {
  @include make-row(10);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
  margin: 0 -10px;
  padding: 10px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1001;
  background-color: #fff;

  &:after, &:before {
    border-color: #fff;
    bottom: 100%;
    right: 1em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 2em;
    margin-left: -2em;
  }

  > * {
    h2 {
      border-bottom: #000 solid 1px;
    }

    label {
      display: block;
      font-weight: normal;
    }
  }
}
