.neighborhood-search {
  color: #ffffff;
  background-color: #6D7F82;
  @include make-md-column(3);
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;

  input {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 1em;
    margin-top: 0;
  }

  .has-lined-sides {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;

    &:before,
    &:after {
      background-color: #ffffff;
      content: '\a0';
      flex-grow: 1;
      height: 1px;
      position: relative;
      top: 0.625em;
    }

    &:before {
      margin-right:10px;
    }

    &:after {
      margin-left:10px;
    }
  }
}

.chosen-neighborhood {
  background-color: #fff;
  color: #000;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: -15px;

  h1 {
    margin-top: 0;
    padding: 10px;
  }
}

.neighborhood-content {
  margin-top: 10px;
  margin-bottom: 30px;
  @include make-md-column(9);
  @extend .clearfix;
  background: none;
}

.neighborhood-nav {
  li {
    > a {
      color: #000000;
      margin-right: 0;
      background-color: #d6dee0;
      border-color: #8D9192;
      border-bottom-color: #ffffff;
      border-radius: 0;
      border: none;

      &:hover {
        background-color: #e9eef1;
        border-color: #BCC5CB;
        border-bottom-color: #456972;
      }

      &.active {
        font-weight: bolder;
        background-color: #ffffff;
        border-color: #456972;
        border-bottom-color: #A6CDD4;

        &:hover {
          border-color: #456972;
          border-bottom-color: #A6CDD4;
          cursor: pointer;
        }
      }
    }
  }
}

.sub-data-nav {
  border-radius: 0;
  background-color: #ffffff;
  border: none;
  margin-bottom: 0;

  .navbar-nav {
    border: none;

    margin: 0;

    a {
      color: #456972;
      cursor: pointer;

      &:hover {
        background-color: #ffffff;
      }
    }

    .active a {
      font-weight: bolder;
      text-decoration: underline;
    }
  }
}

.toolbar {
  @extend .clearfix;

  background-color: #ffffff;
  padding: 10px;
  position: relative;
}

#neighborhood-map {
  min-height: 400px;
}

.statistics-panel {
  padding: 10px;
  background-color: #ffffff;
}

.map-filters {
  @include make-row(10);
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
  margin: 0 -10px;
  padding: 10px;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1001;
  background-color: #fff;

  &:after, &:before {
    border-color: #fff;
    bottom: 100%;
    right: 1em;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 2em;
    margin-left: -2em;
  }

  > * {
    h2 {
      border-bottom: #000 solid 1px;
    }

    label {
      display: block;
      font-weight: normal;
    }
  }
}

.legend {
  background: #ffffff;
  padding: 10px;
  margin: 10px;

  ul {
    list-style: none;
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;

    ul {
      padding-left: 2em;
    }

    .legend-element {
      width: 1em;
      height: 1em;
      display: inline-block;
      margin-right: 5px;
    }
  }
}
