<!DOCTYPE html>
<html>
  <head>
    <title>NeighborhoodDashboard</title>
    <base href="/" />
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAhJj7KI0SOUpT3-dUrT5bGHibT9fD7Zd0"></script>
  </head>
  <body >
    <div id="root" class="application-wrapper"></div>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
